<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>torneo app</title>
</head>
<body>
    <h1>Navigation</h1>

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem incidunt, explicabo consequatur
         nemo eum ducimus? Minus beatae in corporis est aliquid dignissimos itaque prae
         sentium dolorem molestias laudantium repudiandae, nobis reprehenderit?</p>
    <h1>Footer</h1>
</body>
</html>