<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>torneo app</title>
</head>
<body>
<a href="/torneo">Torneos</a>
<a href="/player">Jugadores
</a>
</body>
</html>